@import "tailwindcss";
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.color-a {
  color: #0f1626;
}
.color-b {
  color: #ab987a;
}
.color-ba {
  color: #ab987a85;
}
.color-c {
  color: #ff533d;
}
.color-d {
  color: #efefef;
}
.color-e {
  color: #f5f5f5;
}
.bg-color-a {
  background-color: #0f1626;
}
.bg-color-ab {
  background-color: #0f1626b9;
}
.bg-color-b {
  background-color: #ab987a;
}
.bg-color-ba {
  background-color: #ab987ab0;
}
.bg-color-c {
  background-color: #ff533d;
}
.bg-color-d {
  background-color: #efefef;
}
.bg-color-e {
  background-color: #f5f5f5;
}
.border-color-a {
  border-color: #f5f5f574;
}
.border-color-b {
  border-color: #ab987a;
}
span.swiper-pagination-bullet {
  background-color: #ff533d;
}
div.swiper-button-next::after,
div.swiper-button-prev::after {
  color: #ff533d;
}
.linear-gradient-black {
  background-image: linear-gradient(to top, #0f1626, transparent);
}
div#modal-overlay.deactivated,
div#modal-user-overlay.deactivated {
  display: none;
}
div#modal-overlay.activated,
div#modal-user-overlay.activated {
  display: flex;
}
nav#main-nav > a:hover {
  color: #ff533d;
}
nav#main-nav > a.active::after {
  content: "";
  display: block;
  background-color: #efefef;
  width: 30%;
  height: 2px;
}
input.form-field:focus,
textarea.form-field:focus {
  outline: none !important;
  border-bottom: 1px solid #ff533d;
}
textarea.form-field {
  height: 8rem;
}
.border-big {
  border: 4px solid #ab987a;
}